<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tinker">
  <xacro:include filename="tinker.urdf.xacro"/>
  
    <ros2_control name="tinker" type="system">
        <hardware>
          <plugin>tinker_chassis_hardware/MotorInterface</plugin>
        </hardware>
        <joint name="fl_wheel_joint">
          <command_interface name="velocity" />
          <state_interface name="position" />
          <state_interface name="velocity" />
          <param name="motor_id">0</param>
          <param name="kp">0.1</param>
          <param name="ki">1.6</param>
          <param name="kd">0.0000005</param>
        </joint>
        <joint name="fr_wheel_joint">
          <command_interface name="velocity" />
          <state_interface name="position" />
          <state_interface name="velocity" />
          <param name="motor_id">1</param>
          <param name="kp">0.1</param>
          <param name="ki">1.6</param>
          <param name="kd">0.0000005</param>
        </joint>
        <joint name="rl_wheel_joint">
          <command_interface name="velocity" />
          <state_interface name="position" />
          <state_interface name="velocity" />
          <param name="motor_id">2</param>
          <param name="kp">0.1</param>
          <param name="ki">1.6</param>
          <param name="kd">0.0000005</param>
        </joint>
        <joint name="rr_wheel_joint">
          <command_interface name="velocity" />
          <state_interface name="position" />
          <state_interface name="velocity" />
          <param name="motor_id">3</param>
          <param name="kp">0.1</param>
          <param name="ki">1.6</param>
          <param name="kd">0.0000005</param>
        </joint>
  </ros2_control>

</robot>